.dn{display: none;}
.bloq_1{background: url('../img/ng_banner.png');background-size: cover;background-repeat: no-repeat;background-position: center;color:white;height: 100vh;}
.banner_ng{width: 45%;}
.banner_ng img{width: 100%;}
